{{#if (theme-setting 'show_link')}}
  <a href="{{theme-setting 'url'}}">
    {{#if (theme-setting 'prefixed_icon')}} 
      {{d-icon (theme-setting 'prefixed_icon')}}
    {{/if}}
    {{theme-setting 'text'}}
  </a>
{{/if}}